.feature {

    .container{
        .card{
            &:hover {
                transform: scale(1.1);
            }
        }
    }

  .title {
    h1 {
      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }
  }

  background: rgb(241, 245, 248);
  padding: 5rem;
  @media only screen and (max-width: 768px) {
    padding: 1rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
